<h1>Step 1: Choose your Model and Color</h1>
<form [formGroup]='step1Form'>
    <label for='modelSelect'>Model:</label>
    <select name='modelSelect' id='modelSelect' formControlName='modelSelect'>
        <option [ngValue]='undefined' selected>Choose...</option>
        @for (vehicle of (vehicles | async); track vehicle.code) {
            <option [ngValue]='vehicle'>{{ vehicle.description }}</option>
        }
    </select>
    @if (modelSelect.value) {
        <label for='colorSelect'>Color: </label>
        <select name='colorSelect' id='colorSelect' formControlName='colorSelect'>
            @for (color of modelSelect.value!.colors; track color.code) {
                <option [ngValue]='color'>{{ color.description }}</option>
            }
        </select>
    }
</form>
