<h1>Step 2: Select config and options</h1>
<form [formGroup]="step2FormGroup">
    <label for="configSelect">Config: </label>
    <select name="configSelect" id="configSelect" formControlName="configSelect" [compareWith]="selectCompareFn">
        <option [ngValue]="null">Choose...</option>
        @for (config of vehicleOptions?.configs; track config.id) {
            <option [ngValue]="config">{{ config.description }}</option>
        }
    </select>
    <br />
    <app-vehicle-specs [config]="configSelect ?? undefined"></app-vehicle-specs>
    <br />
    @if (configSelect) {
        @if (vehicleOptions?.towHitch) {
            <label for="includeTowHitch">Tow Hitch?</label>
            <input type="checkbox" name="includeTowHitch" id="includeTowHitch" formControlName="includeTowHitch" />
            <br />
        }
        @if (vehicleOptions?.yoke) {
            <label for="includeYoke">Yoke Steering Wheel?</label>
            <input type="checkbox" name="includeYoke" id= "includeYoke" formControlName="includeYoke" />
        }
    }
</form>
