ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    border: 2px solid var(--nav-border-color);
    text-decoration: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}
