ul {
    list-style-type: none;
    align-items: center;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;

    li {
        text-decoration: none;
        width: 100%;
        text-align: center;

        &:not(:last-child) {
          border-right: 1px solid var(--nav-border-color);
        }
    }
}
